<div class="center-container">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-form-field class="full-width" >
        <mat-label>Wähle deine Rolle aus</mat-label>
        <mat-select
          [(ngModel)]="feedback.sender"
          placeholder="Wähle deine Rolle aus" required>
          <mat-option *ngFor="let option of roleOptionsFrom"
                      [value]="option[0]">
            {{ option[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="feedback.sender!= null" class="full-width">
        <mat-label>Wähle einen Empfänger aus</mat-label>
        <mat-select
          [(ngModel)]="feedback.receiver"
          placeholder="Wähle einen Empfänger aus" required>
          <mat-option *ngFor="let option of roleOptionsTo"
                      [value]="option[0]">
            {{ option[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field *ngIf="feedback.receiver!= null" class="full-width">
      <mat-label>Wähle eine Option aus</mat-label>
      <mat-select
        [(ngModel)]="aiOption"
        placeholder="Wähle eine Option aus" required>
        <mat-option *ngFor="let option of aiOptions"
                    [value]="option[0]">
          {{ option[1] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-card-content>

    <div class="info-message" *ngIf=" aiOption === AI.CHECK && !check">
      <div style="margin-right: 10px">  <mat-icon>info</mat-icon></div>
      <span class="info-text"> Schreiben Sie das Feedback und klicken Sie dann auf 'Überprüfen'. Die KI überprüft den Text und verbessert ihn gegebenenfalls.</span>
    </div>

    <div class="info-message" *ngIf=" aiOption === AI.CREATE">
      <div style="margin-right: 10px">  <mat-icon>info</mat-icon></div>
      <span class="info-text"> Schreiben Sie die Stichwörter und klicken Sie dann auf 'Erstellen'. Die KI generiert ein Feedback basierend auf den Stichwörtern.</span>
    </div>

    <div class="info-message" *ngIf=" aiInteraction.aiGenerated && check">
      <div style="margin-right: 10px">  <mat-icon>info</mat-icon></div>
      <span class="info-text">Die KI hat deinen Feedbacktext angepasst. Lies ihn noch einmal durch und korrigiere ihn gegebenenfalls. </span>
    </div>

    <div class="info-message" *ngIf="!aiInteraction.aiGenerated && check">
      <div style="margin-right: 10px">  <mat-icon>info</mat-icon></div>
      <span class="info-text">Die KI hat deinen Feedbacktext geprüft und keine Änderungen vorgenommen.  </span>
    </div>


    <mat-form-field *ngIf="aiOption === AI.CHECK " style="margin: 16px">
      <mat-label>Feedbacktext</mat-label>
      <textarea  #hinweistext
                 [(ngModel)]="aiInteraction.feedback"
                 minlength="100"
                 maxlength="1000"
                 matInput
                 rows="6">
        </textarea>
      <mat-hint align="end">{{ hinweistext.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="hinweistext.value.length<100">
        Der Text muss mindestens 100 Zeichen lang sein.
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="aiOption === AI.CREATE " style="margin: 16px">
      <mat-label>Stichwörter</mat-label>
      <textarea  #hinweistext
                 [(ngModel)]="aiInteraction.feedback"
                 maxlength="1000"
                 minlength="40"
                 matInput
                 rows="6">
        </textarea>
      <mat-hint align="end">{{ hinweistext.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="hinweistext.value.length<50">
        Der Text muss mindestens 40 Zeichen lang sein.
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button *ngIf="aiInteraction.feedback.length> 100 && !check && aiOption != AI.CREATE"  mat-raised-button (click)="checkText(aiInteraction)"  color="primary">Überprüfen</button>
      <button *ngIf="aiInteraction.feedback.length> 50 && !create && aiOption != AI.CHECK"  mat-raised-button (click)="createText(aiInteraction)"  color="primary">Erstellen</button>
      <button *ngIf="check || create" mat-raised-button (click)="createFeedback(aiInteraction)" color="primary">Absenden</button>
    </div>
  </mat-card>
</div>
<div *ngIf="isLoading" class="overlay">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
