<div class="center-container">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Your Role</mat-label>
        <mat-select
          [(ngModel)]="feedbackCheck.from"
          placeholder="Your Role" required>
          <mat-option *ngFor="let option of roleOptions"
                      [value]="option[0]">
            {{ option[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="feedbackCheck.from!= null" class="full-width">
        <mat-label>Receiver Role</mat-label>
        <mat-select
          [(ngModel)]="feedbackCheck.to"
          placeholder="Receiver Role" required>
          <mat-option *ngFor="let option of roleOptions"
                      [value]="option[0]">
            {{ option[1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field *ngIf="feedbackCheck.to!= null" class="full-width">
      <mat-label>AI Options</mat-label>
      <mat-select
        [(ngModel)]="aiOption"
        placeholder="AI Options" required>
        <mat-option *ngFor="let option of aiOptions"
                    [value]="option[0]">
          {{ option[1] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-card-content>

    <div class="info-message" *ngIf=" aiOption === AI.CHECK">
      <mat-icon>info</mat-icon>
      <span>This is an CHECK informational message.</span>
    </div>

    <div class="info-message" *ngIf=" aiOption === AI.CREATE">
      <mat-icon>info</mat-icon>
      <span>This is an CREATE informational message.</span>
    </div>


    <mat-form-field *ngIf="aiOption !='' " style="margin: 16px">
      <mat-label>Hinweistext</mat-label>
      <textarea  #hinweistext
                 [(ngModel)]="feedbackCheck.text"
                 minlength="100"
                 maxlength="1000"
                 matInput
                 rows="10"
                 style="width: 100%;">
        </textarea>
      <mat-hint align="end">{{ hinweistext.value.length }} / 1000</mat-hint>
      <mat-error *ngIf="hinweistext.value.length<100">
        Hinweistext must be at least 100 characters long.
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button *ngIf="feedbackCheck.text.length> 100 && !check"  mat-raised-button (click)="checkText(feedbackCheck)"  color="primary">Check</button>
      <button *ngIf="check" mat-raised-button (click)="createFeedback(feedbackCheck)" color="primary">Send</button>
    </div>
  </mat-card>
</div>
<div *ngIf="isLoading" class="overlay">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
