.center-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 8vh;
}

.feedback-card {
  margin: 20px;
  border-radius: 12px;
  max-width: 750px;
  width: 100%;

}

.form-card {
  border-radius: 12px;
  width: 790px;
  background-color: rgba(245, 245, 245, 0.53);
}

.feedback-card-content {
  display: flex;
  justify-content: space-between;
}

.feedback-section-center {
  border-radius: 12px;
  padding: 10px;
  background-color: #F5f5f5;
  width: 58%;
}

.feedback-section-left {
  border-radius: 12px;
  padding: 10px;
  background-color: #F5f5f5;
  width: 27%;
}

.feedback-section-right {
  width: 4%;
}

.filter-form-field {
  width: 200px;
  padding: 10px;
  margin: 0 auto -35px;
}

.top-right-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-right-icon {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.inactive-feedback mat-card {
  opacity: 0.3;
}

.no-feedback {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.mat-card-feedback {
  background-color: #D9D9D9;
  border-radius: 12px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
