<div class="center-container">
  <mat-card class="form-card">
    <mat-form-field class="filter-form-field">
      <mat-label>Filter Feedbacks</mat-label>
      <mat-select [(value)]="selectedFilter">
        <mat-option *ngFor="let filter of filters" [value]="filter[0]">
          {{ filter[1] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="filteredFeedbacks.length > 0; else noFeedback">
      <div *ngFor="let feedback of filteredFeedbacks" [ngClass]="{'inactive-feedback': !feedback.active}"
           class="feedback-card">
        <mat-card class="mat-card-feedback">
          <mat-card-content class="feedback-card-content">
            <div class="feedback-section-left">
              <table>
                <tbody>
                <tr>
                  <th style="width: 30%">
                    Empfänger:
                  </th>
                  <td>
                    {{ roleToString(feedback.receiver) }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Absender:
                  </th>
                  <td>
                    {{ roleToString(feedback.sender) }}
                  </td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="feedback.meeting">Ein persönliches Treffen ist erwünscht.</p>
              <p *ngIf="!feedback.meeting">Ein persönliches Treffen ist nicht erwünscht.</p>
            </div>
            <div class="feedback-section-center">
              {{ feedback.text }}
            </div>
            <div class="feedback-section-right">
              <mat-checkbox class="top-right-checkbox" color="primary" [(ngModel)]="feedback.active"
                            (change)=changeStatus(feedback.id)></mat-checkbox>
              <mat-icon *ngIf="!feedback.active" class="bottom-right-icon" (click)="deleteFeedback(feedback.id)"
                        style="cursor: pointer">delete
              </mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
<ng-template #noFeedback>
  <div class="no-feedback">
    <p>Kein Feedback verfügbar.</p>
  </div>
</ng-template>
