.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.left-container {
  display: flex;
  align-items: center;
}
.text-below-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-image {
  width: 90px;
  height: auto;
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.round-button {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.round-button:hover {
  background-color: darkgrey;
}
