
html, body {
  margin: 0;
  padding: 0;
 overflow: auto;
  background-color: #a99e8f;
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  flex-shrink: 0;
}

router-outlet {
  flex-grow: 1;
  overflow: auto;
}
